@import "../../../styles/SassVariables.scss";

.HeaderInner {
  display: flex;
  transition: all $transition-duration ease-out;
  justify-content: center;
  flex-direction: column;
}

.open {
  cursor: none;
}

.closed {
  cursor: pointer;
}

.StartButton {
  background-color: white;
  margin-top: 20px;
  padding: 30px;
  border: 0;
  box-shadow: none;
  border-radius: 3px;
  font-size: 2rem;
  cursor: pointer;
}

.StartButton:hover {
  background-color: $light;
}

.Score {
  position: relative;
  font-size: 2em;
  transition-delay: $transition-duration;
}
