@import '../../../../styles/SassVariables.scss';

.GameSubmit {
  width: 69%;
}
.GameSubmit button {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  font-size: 5vh;
  border: none;
  border-radius: 5px;
}

.active {
  background-color: #6cbe7e;
  cursor: pointer;
  color: white;
}

.active:hover {
  background-color: #81da95;
}

.inactive {
  background-color: $light;
  color: $medium;
}

