@import "../../../../styles/SassVariables.scss";

.IncorrectAnswer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 1em;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid rgb(107, 3, 38);
  font-size: 3rem;
  color: $dark;
}

.IncorrectAnswer p {
  max-width: 40vw;
}

@media screen and (max-width: 500px) {
  .IncorrectAnswer {
    font-size: 2rem;
  }
}