@import "../../../styles/SassVariables.scss";

.GameAnswer {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: auto auto;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answerEnter {
  opacity: 0;
  transform: scale(0.8);
}

.answerEnterActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity $transition-duration ease-out,
    transform $transition-duration ease-out;
}

.answerExit {
  opacity: 1;
}

.answerExitActive {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity $transition-duration ease-out,
    transform $transition-duration-long ease-out;
}
