/* Colours */
$dark: #52504d;
$medium: #8f8c88;
$light: #e4e0da;

$ggreen: #246136;
$light-green: #f3fdf4;

$light-colored: #e0ece4;

/* Timing */
$transition-duration: 500ms;
$transition-duration-long: 1000ms;
$transition-duration-short: 200ms;