.GameAutoCompleteItem {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
  font-size: 2vh;
  padding: 4px;
}

.GameAutoCompleteItem:hover {
  background-color: rgb(213, 216, 219)
}

.GameAutoCompleteItem img {
  height: 10vh;
  width: 10vh;
  margin-right: 10px;
}

.GameAutoCompleteItem p {
  margin: 0;
}