@import "../../styles/SassVariables.scss";

.open {
  user-select: none;
}

.closed {
  cursor: pointer;
}

.closed .LogoSmallText {
  font-size: 0;
}


.LogoSmallText {
  color: white;
  font-size: 4vh;
  transition: all $transition-duration ease-out;
  user-select: none;
}

.LogoLargeText {
  color: white;
  font-weight: bold;
  font-size: 8vh;
  transition: all $transition-duration ease-out;
  user-select: none;
}

// @media screen and (max-height: 650px) {
//   .closed .LogoLargeText {
//     font-size: 8vh;
//   }
// }
