@import "../../styles/SassVariables.scss";

.open {
  user-select: none;
  padding: 1rem;
  background-color: #749e88;
  border-radius: 10px;
}

.closed {
  cursor: pointer;
  padding: 1vh;
  background-color: rgb(36, 97, 54);
}

.closed .LogoSmallText {
  font-size: 0;
}

.LogoSmallText {
  color: white;
  font-size: 4vh;
  transition: all $transition-duration ease-out;
  user-select: none;
}

.LogoLargeText {
  color: white;
  font-weight: bold;
  font-size: 8vh;
  transition: all $transition-duration ease-out;
  user-select: none;
}

.stroke {
  -webkit-text-stroke: 1px rgb(36, 97, 54);
} 

@media screen and (max-height: 500px) {
  .open .LogoLargeText {
    font-size: 8vw;
  }
  .open .LogoSmallText {
    font-size: 4vw;
  }
}
