.GameHeader {
  
  //position: fixed;
  width: 90vw;
  margin: 1% auto;
  left: 0;
  right: 0;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CorrectCount {
  width: 5vw;
  color: green;
  font-size: 7vh;
}

.MistakeCount img {
  height: 7vw;
}

@media screen and (min-aspect-ratio:1/1) {
  .MistakeCount img {
    height: 7vh;
  }
}