@import "../../styles/SassVariables.scss";

.GameModeSelector {
  height: 90%;
  width: 100vw;
  padding: 10px auto;
  margin: auto auto;
  position: fixed;
  transition: transform $transition-duration ease-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  box-sizing: border-box;
  z-index: 200;
  background-color: $light;
}

.open {
  transform: translateY(0);
}

.closed {
  transform: translateY(100%);
}

.GameModeSelectorHeader {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  color: $dark;
  font-weight: bold;
  width: 100vw;
}