@import '../../../styles/SassVariables.scss';

.GameSubmit {
  //position: fixed;
  margin: 1% auto 2% auto;
  left: 0;
  right: 0;
  display: flex;
}
.GameSubmit button {
  width: 80vw;
  padding: 1%;
  box-sizing: border-box;
  font-size: 5vh;
  border: none;
  border-radius: 5px;
}

.active {
  background-color: #6cbe7e;
  cursor: pointer;
  color: white;
}

.active:hover {
  background-color: #81da95;
}

.inactive {
  background-color: $light;
  color: $medium;
}

