@import '../../styles/SassVariables.scss';

.GameInput {
  //position: fixed;
  margin: 1% auto;
  left: 0;
  right: 0;
  bottom: 15vh;
}
.GameInput input {
  width: 80vw;
  height: 7vh;
  padding: 1vh;
  box-sizing: border-box;
  font-size: 3vh;
  border: none;
  border-radius: 5px;
  border: 2px solid orange;
  background-color: $light;
}

.GameInput input:focus {
  outline: none;
}