@import "../../styles/SassVariables.scss";

.GameBoard {
  height: 89vh;
  width: 100vw;
  margin: auto 0;
  transition: opacity $transition-duration ease-out;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  opacity: 0;
  z-index: 100;
}

.open {
  opacity: 1;
}

.closed {
  opacity: 0;
}

.gameWindowEnter {
  transform: translateX(100vw);
}

.gameWindowEnterDone {
  transform: translateX(0vw);
  transition: transform $transition-duration-long ease-out;
}

.gameWindowExit {
  transform: translateX(0vw);
}

.gameWindowExitDone {
  transform: translateX(-100vw);
  transition: transform 5s ease-out;
}