@import "../../styles/SassVariables.scss";

.GameBoard {
  height: 90%;
  width: 100vw;
  margin: auto 0;
  transition: opacity $transition-duration ease-out;
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 100;
}

.GameQuestionArea {
  flex-grow: 1;
}

.gameQuestionWindowEnter {
  transform: translateX(100vw);
}

.gameQuestionWindowEnterActive {
  transform: translateX(0vw);
  transition: transform $transition-duration-long ease-out;
}

.gameQuestionWindowExit {
  transform: translateX(0vw);
}

.gameQuestionWindowExitActive {
  transform: translateX(-100vw);
  transition: transform $transition-duration-long ease-out;
}