@import "../../styles/SassVariables.scss";

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.main {
  background-color: rgb(240, 240, 240);
  width: 100vw;
  height: 90%;
  min-height: 300px;
  position: fixed;
  left: 0;
  padding: 0;
  box-sizing: border-box;
}

.gameWindowEnter {
  bottom: -90%;
}

.gameWindowEnterActive {
  bottom: 0%;
  transition: bottom $transition-duration ease-out;
}

.gameWindowExit {
  bottom: 0%;
}

.gameWindowExitActive {
  bottom: -90%;
  transition: bottom $transition-duration ease-out;
}