@import "../../styles/SassVariables.scss";

.App {
  text-align: center;
  min-height: 100%;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

.main {
  background-color: rgb(240, 240, 240);
  width: 100vw;
  height: 89%;
  position: fixed;
  left: 0;
  padding: 0;
  box-sizing: border-box;
}

.open {
  bottom: 0vh;
  transition: bottom $transition-duration ease-out;
}

.closed {
  bottom: -90%;
  transition: bottom $transition-duration ease-out;
}

