@import "../../styles/SassVariables.scss";

.GameModeSelector {
  height: 90%;
  width: 100vw;
  padding: 10px auto;
  margin: auto auto;
  position: fixed;
  transition: transform $transition-duration ease-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  box-sizing: border-box;
  z-index: 200;
  background-color: $light-colored;
  padding-bottom: 2rem;
}

.GameModeSelectorHeader {
  margin: 0;
  font-size: 3rem;
  color: $dark;
  font-weight: bold;
  width: 100vw;
}

@media screen and (min-width: 600px) and (min-height: 600px) {
  .GameModeSelectorHeader {
    font-size: 4rem;
  }
}