@import "../../../styles/SassVariables.scss";

.IncorrectAnswer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: $dark;
}

.IncorrectAnswer p {
  max-width: 40vw;
}

@media screen and (max-width: 500px) {
  .IncorrectAnswer {
    font-size: 2rem;
  }
}