.GameAutoComplete {
  position: relative;
  box-sizing: border-box;
  width: 80vw;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: 0 auto;
  box-shadow: 0 0 5px 0 lightgrey;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid orange;

  bottom: 10px;
  box-sizing: border-box;
  position: relative;
  width: 80vw;
  left: 0;
  right: 0;
  margin: 0 auto;
  /* box-shadow: 0 0 3px 3px lightgrey; */
  background-color: white;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid orange;
}

.GameAutoComplete ul {
  list-style: none;
  padding: 0;
  height: 100%;
  margin: 0;
}