@import '../../styles/SassVariables.scss';

.GameHeader {
  width: 90vw;
  margin: 1% auto;
  left: 0;
  right: 0;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CorrectCount {
  width: 5vw;
  color: green;
  font-size: 7vh;
}

.Flyaway {
  font-size: 7vh;
}

.FlyawayEnter {
  opacity: 0;
}

.FlyawayEnterActive {
  opacity: 1;
  transition: all $transition-duration-short ease-out;
}

.FlyawayExit {
  opacity: 1;
}

.FlyawayExitActive {
  opacity: 0;
  transform: scale(1.2);
  transition: all $transition-duration-long ease-out;
}

.MistakeCount img {
  height: 7vw;
}

@media screen and (min-aspect-ratio:1/1) {
  .MistakeCount img {
    height: 7vh;
  }
}


